/*================== До 991px ==================*/
@media (max-width: 991px) {
  .process-box {
    margin-top: 75px;
  }
  .works-box {
    height: 100%;
  }
  .services-list {
    text-align: center;
  }
  .services-list-item {
    display: inline-block;
  }
}
/*================== /До 991px ==================*/
/*================== До 768px ==================*/
@media (max-width: 768px) {
  .services-list {
    text-align: center;
    padding: 0;
  }
  .services-list-item {
    display: inline-block;
  }
  .process-box {
    margin-top: 75px;
  }
  .section-header {
    margin-top: 25px;
  }
  .works-box {
    margin-top: 25px;
    height: 100%;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
  }
}
/*================== /До 768px ==================*/
/*================== До 480px ==================*/
@media (max-width: 480px) {
  .services-list-item {
    width: 75px;
  }
  .main-text h1 {
    font-size: 28px;
  }
  .section-header {
    margin-top: 25px;
  }
  .section-header h2 {
    font-size: 22px;
  }
  .process-box {
    margin-top: 75px;
  }
  .works-box {
    height: 100%;
    margin-top: 25px;
    width: 250px;
  }
}
/*================== /До 480px ==================*/
/*================== iPad Landscape ==================*/
@media (min-width: 991px) and (max-width: 1280px) {
  .works-box {
    height: 100%;
  }
  .services-list {
    text-align: center;
  }
  .services-list-item {
    display: inline-block;
  }
}
